!!! 5
html
    head
        title facehold.it
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/app.css')
        script(src='http://code.jquery.com/jquery-1.7.2.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/main.js')

    body
        .container-fluid
            .modal.intro.hide.fade
                
                .hero-unit
                    a.close(href='#', data-dismiss='modal') &times;
                    h1 Faceholder!
                    form.form-horizontal.well
                        input.input-mini(type='text', placeholder='20')
                        button.btn.btn-primary(href='#') Go
                    p Use Faceholder to look at random people's Facebook photos like a total creepster. It's fun. You can also use FaceHolder to populate your site with a random collection of faces. Simply add:
                    pre
                        <img src='http://faceholder.com' />
                    p.mini Your browser will only reach out once per url. To include multiple faceholder placeholders, append query strings to the end of the image tag (ex http://faceholder.com?q=1)
                    
            != body
        //include _analytics.html

