!!! 5
html
    head
        title facehold.it
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        != css('app')

    body

        header
            section.content
                h1 Facehold.it
                pre
                    <img src='http://facehold.it/pic' />


       section.info

            section.intro
                h2 Facehold.it is a simple service that provides facebook profile pictures for developers & designers to use as placeholders in their projects.
                div.content
                    h3 Developer
                    ='Paste in '
                    pre
                        <img src='http://facehold.it/pic' />
                    ='anywhere on your site to generate a placeholder image, or use it as a background-image. To prevent your browser from serving the same image, append a query string to the end of the resource call - '
                    br
                    pre
                        <img src='http://facehold.it/pic?id=1' />
                div.second.content
                    h3 Designer 
                    p Refresh the page untill you see what you want, then copy the direct link or grab the photo for use in your design mockup. For extra fun, click on profiles to learn more about each person. Change the URL to generate more photos eg. <a href='http://facehold.it/25'>http://facehold.it/25</a>
                div.mobile_info.content
                    h3 Usage
                    ='Paste in '
                    pre
                        <img src='http://facehold.it/pic' />
                    ='anywhere on your site to generate a placeholder image.'
        footer
            section.content
                small 
                    = 'Created by'
                    a#cremalab-logo(href='http://cremalab.com', target='_blank') Cremalab
                

        != body
        include _analytics.html