*{margin:0;padding:0;font-family:'Helvetica','Arial','Verdana'}
pre{font-size:13px;font-family:'Courier','Monospace';opacity:.8;font-weight:bold;display:inline}
header{background-color:#3b5998;border-bottom:2px solid #133783;color:#fff;padding:10px;}
header h1{font-size:18px}
header pre{float:right;margin-right:20px}
section.info{margin:20px 30px 10px;overflow:hidden;line-height:22px;}
section.info h2{margin-bottom:20px;line-height:28px;font-size:20px;font-weight:normal}
section.info h3{margin-bottom:10px;font-size:18px}
section.info div{float:left;width:45.25%;padding:2%;background-color:rgba(0,0,0,0.10);overflow:hidden;margin-bottom:-100px;padding-bottom:100px}
section.info div.second{float:right}
section.info p{margin-bottom:15px}
#photos{margin:0 30px;line-height:0;-webkit-column-count:5;-webkit-column-gap:10px;-moz-column-count:5;-moz-column-gap:10px;column-count:5;column-gap:10px;}
#photos a{display:block;overflow:hidden;margin:0 0 10px}
#photos img{width:100% !important;height:auto !important}
@media (max-width: 1200px){#photos{-moz-column-count:4;-webkit-column-count:4;column-count:4}
}@media (max-width: 1000px){#photos{-moz-column-count:3;-webkit-column-count:3;column-count:3}
}@media (max-width: 800px){#photos{-moz-column-count:2;-webkit-column-count:2;column-count:2}
}@media (max-width: 400px){#photos{-moz-column-count:1;-webkit-column-count:1;column-count:1}
}