/*
     CSS-Tricks Example
     by Chris Coyier
     http://css-tricks.com
*/

* { margin: 0; padding: 0; }

body
	
	padding 10px

.container-fluid
	
	padding 10px

header 

	-webkit-column-count	3
	-webkit-column-gap		0
	-moz-column-count		3
	-moz-column-gap			0
	column-count 			3
	column-gap 				0
	line-height 			0
	
	#logo
		width 	178px
		height 	40px
		background url('../img/sprite.svg')

	#refresh
		display block
		width 	50px
		height 	40px
		margin 	0 auto
		fill red
		background url("../img/sprite.svg") no-repeat -184px
		
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;

		&:active		
			-moz-transform rotate(360deg)
			-webkit-transform rotate(360deg)
			-o-transform rotate(360deg)
			-ms-transform rotate(360deg)
			transform rotate(360deg)
        

	#info
		width 14px
		height 40px
		margin 0 10px 0
		background url("../img/sprite.svg") no-repeat -236px
		float right


#photos
	/* Prevent vertical gaps */
	line-height 0

	-webkit-column-count	5
	-webkit-column-gap		10px
	-moz-column-count		5
	-moz-column-gap			10px
	column-count 			5
	column-gap           	10px
	
	a 
		display  	block
		overflow 	hidden
		margin 		0 0 10px
	
	img
		/* Just in case there are inline attributes */
		width 	100% !important
		height 	auto !important

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px)
  
	header

		#logo
			width 	40px
			height 	40px
			background url('../img/sprite.svg')

	#photos
		-moz-column-count    2
		-webkit-column-count 2
		column-count         2

@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}