@import bootstrap
@import nib


*
    margin                  0
    padding                 0
    font-family             'Helvetica', 'Arial', 'Verdana'

pre
    font-size               13px
    font-family             'Courier', 'Monospace'
    font-weight             bold
    display                 inline

header
    background-color        #3B5998
    border-bottom           2px solid #133783
    color                   #fff
    padding                 10px

    h1
        color               #fff
        font-size           200%
        margin-bottom       0
    pre
        float               right
        margin-right        20px
        color               black

section.info
    margin                  20px 30px 10px
    overflow                hidden
    line-height             22px
    h2
        margin-bottom       20px
        line-height         28px
        font-size           20px
        font-weight         normal
    h3
        margin-bottom       10px
        font-size           18px
    div.content
        float               left
        width               45.25%
        padding             2%
        background-color    rgba(0,0,0,.1)
        overflow            hidden
        margin-bottom       -80px
        padding-bottom      100px
    div.second
        float               right
    div.mobile_info
        display             none
        float               none
        width               100%
    p
        margin-bottom       15px
    pre
        font-size           85%
        padding             5px


#photos
    margin                  0 30px
    line-height             0

    column-count            5
    column-gap              10px
    
    a 
        display             block
        overflow            hidden
        margin              0 0 10px
    
    img
        width   100% !important
        height  auto !important



@media (max-width: 1200px)
    #photos
        column-count            4

@media (max-width: 1000px)
    #photos
        column-count            3

@media (max-width: 800px)
    #photos
        column-count            2

@media (max-width: 520px)
    #photos
        margin                  0 15px
        column-count            1
    header 
        h1
            text-align          center
        pre
            display             none
    section.info
        margin                  20px 15px 10px
        div.content
            display             none
        div.mobile_info
            display             block
        display                 block